[submodule "pocketflow/cookbook/PocketFlow-Tutorial-Website-Chatbot"]
	path = pocketflow/cookbook/PocketFlow-Tutorial-Website-Chatbot
	url = https://github.com/The-Pocket/PocketFlow-Tutorial-Website-Chatbot.git
[submodule "pocketflow/cookbook/PocketFlow-Tutorial-Danganronpa-Simulator"]
	path = pocketflow/cookbook/PocketFlow-Tutorial-Danganronpa-Simulator
	url = https://github.com/The-Pocket/PocketFlow-Tutorial-Danganronpa-Simulator.git
[submodule "pocketflow/cookbook/Tutorial-Codebase-Knowledge"]
	path = pocketflow/cookbook/Tutorial-Codebase-Knowledge
	url = https://github.com/The-Pocket/Tutorial-Codebase-Knowledge.git
[submodule "pocketflow/cookbook/Tutorial-Cursor"]
	path = pocketflow/cookbook/Tutorial-Cursor
	url = https://github.com/The-Pocket/Tutorial-Cursor.git
[submodule "pocketflow/cookbook/Tutorial-AI-Paul-Graham"]
	path = pocketflow/cookbook/Tutorial-AI-Paul-Graham
	url = https://github.com/The-Pocket/Tutorial-AI-Paul-Graham.git
[submodule "pocketflow/cookbook/Tutorial-Youtube-Made-Simple"]
	path = pocketflow/cookbook/Tutorial-Youtube-Made-Simple
	url = https://github.com/The-Pocket/Tutorial-Youtube-Made-Simple.git
[submodule "pocketflow/cookbook/Tutorial-Cold-Email-Personalization"]
	path = pocketflow/cookbook/Tutorial-Cold-Email-Personalization
	url = https://github.com/The-Pocket/Tutorial-Cold-Email-Personalization.git
