site_name: pflow
repo_url: https://github.com/spinje/pflow
site_url: https://spinje.github.io/pflow
site_description: cli
site_author: Andreas Falcone
edit_uri: edit/main/docs/
repo_name: spinje/pflow
copyright: Maintained by <a href="https://spinje.com">spinje</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/pflow"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/spinje/pflow
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/pflow

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
